@model Order


@{
    ViewData["Title"] = "Detail";
    int count = 0;
}
<div style="padding:60px;">

@if (Model.OrderItems != null && Model.OrderItems.Count() > 0)
{
    <div class="row">
        <h4>Order Items</h4>
        <div class="col-lg-12">
            <table class="table table-bordered table-striped ">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Count</th>
                        <th>Total Price</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (OrderItem orderItem in Model.OrderItems)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@orderItem.Title</td>
                            <td>@orderItem.Price</td>
                            <td>@orderItem.Count</td>
                            <td>@(orderItem.Price * orderItem.Count)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}

<div class="row">
    <div class="col">
        <form method="post" asp-area="manage" asp-controller="order" asp-action="UpdateStatus">
            <input type="hidden" name="Id" value="@Model.ID" />
            <div class="form-group">
                <label asp-for="Status"></label>
                <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<OrderType>()">
                </select>
                <span asp-validation-for=Status class="text text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for=Comment class="form-label"></label>
                <input asp-for=Comment class="form-control">
                <span asp-validation-for=Comment class="text text-danger"></span>
            </div>

            <div>
                <button type="submit" class="btn btn-success">Change Status</button>
            </div>

        </form>
    </div>
</div>
</div>