@model List<AppUser>

@{
    int a = 1;
}
<div class="container">
    <div style="padding:60px;">
        <div class="row">
            <div class="col-lg-4">
                <h1 class="h3 mb-4 text-gray-800">Users</h1>
            </div>
           
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Username</th>
                            <th>Blocked By</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (AppUser user in Model)
                        {
                            <tr>

                                <td>@a</td>
                                <td>@user.Name</td>
                                <td>@user.SurName</td>
                                <td>@user.UserName</td>
                                <td>@user.BlockedBy</td>
                                <td>
                                    @if (User.IsInRole("SuperAdmin"))
                                    {
                                        <a asp-area="manage" asp-controller="User" asp-action="update" asp-route-userid="@user.Id" class="btn btn-warning">Update</a>

                                    }
                                    @if (user.BlockedBy == null)
                                    {
                                        <a asp-area="manage" asp-controller="user" asp-action="blockUser" asp-route-userid="@user.Id" class="btn btn-danger"> Block </a>

                                    }
                                    @if (user.BlockedBy != null)
                                    {
                                        <a asp-area="manage" asp-controller="user" asp-action="unBlockUser" asp-route-userid="@user.Id" class="btn btn-danger">Unblock</a>

                                    }
                                    
                                </td>
                            </tr>
                            a++;



                        }




                    </tbody>
                </table>
            </div>
        </div>
        <div class="pagination1">
            @if (ViewBag.pageIndex > 1)
            {
                <a class="pageIndexSelector1" asp-action="index" asp-controller="user" asp-area="manage" asp-route-pageIndex="@(ViewBag.pageIndex-1)">Previous</a>

            }

            @for (var i = 1; i <= ViewBag.pageCount; i++)
            {
                if (i >= ViewBag.pageIndex - 2 && i <= ViewBag.pageIndex + 2)
                {
                    <a class="pageIndexSelector1 @(i==ViewBag.pageIndex ? "active-for-pagination" : " ")" asp-action="index" asp-controller="user" asp-area="manage" asp-route-pageIndex="@i">@i</a>

                }
            }
            @if (ViewBag.pageIndex < ViewBag.pageCount)
            {
                <a class="pageIndexSelector1" asp-action="index" asp-controller="user" asp-area="manage" asp-route-pageIndex="@(ViewBag.pageIndex+1)">Next</a>

            }

        </div>
    </div>

</div>


