@model ProductReviewVM

@{
    int a = 0;
}

@foreach(Review review in Model.Product.Reviews)
{
    a += review.Star;
    
}

@{
    int b = 0;
    if (Model.Product.Reviews.Count()>0)
    {
        b = a / Model.Product.Reviews.Count();
    }
    
}


<main>
    <div class="product-details-header">
        <h3>Product Detail</h3>
    </div>

    <div class="product-details-all">
        <div class="container">
            <div class="product-details-main">
                <div style="background-color:white;" class="product-detail-box">
                    <div class="product-detail-box-left">
                        <img src="~/assets/Images/products/@Model.Product.MainImage" alt="">
                    </div>
                    <div class="product-detail-box-right">
                        <h3 style="color:black;">@Model.Product.Title</h3>
                        <p style="color:black;">$@Model.Product.DiscountedPrice</p>
                        @for(var i=1; i<=b; i++)
                        {
                            <button><i style="color: gold;" class="fa-regular fa-star"></i></button>
                        }
                        
                        
                        <span style="color: black;">(@Model.Product.Reviews.Count() Reviews)</span>
                        <h4><button style="color: black;" class="shop-addtobasket-btn" data-id="@Model.Product.ID">Add To Cart</button></h4>
                    </div>

                </div>
            </div>

            <div class="product-info">
                <div class="product-info-navlinks">
                    <button id="description" class="product-info-nav-btn @(ViewBag.showReview!=true ? "active-for-product-info-nav-btn" : "") ">Description</button>
                    <button id="reviews" class="product-info-nav-btn @(ViewBag.showReview==true ? "active-for-product-info-nav-btn" : "")">Reviews</button>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button id="write-a-review" class="product-info-nav-btn ">Write A Review</button>
                    }

                </div>
                <div id="description" class="product-info-box product-info-desc-box @(ViewBag.showReview!=true ? "active-for-product-info-boxes" : "") ">
                    <p>
                        @Model.Product.Description
                    </p>
                </div>
                <div id="reviews" class="product-info-box product-info-reviews-box @(ViewBag.showReview==true ? "active-for-product-info-boxes" : "")">
                    @foreach(Review review in Model.Product.Reviews)
                    {
                        <div class="clients-review">
                            @for(var i = 1; i<=review.Star; i++)
                            {
                                <i class="fa-solid fa-star"></i>
                            }
                            
                            
                            <p>@($"{review.CreatedBy} {review.CreatedAt?.ToString("dd MMM yyyy")}")</p>
                            <h6>
                                @review.Description
                            </h6>
                        </div>
                    }
                    
                </div>
                <div id="write-a-review" class="product-info-box product-write-review-box @(ViewBag.showReview==true ? "active-for-product-info-nav-btn" : "")">
                    @await Html.PartialAsync("_AddReviewPartialView", Model.Review)
                </div>




            </div>



        </div>
    </div>





</main>


