@model List<Order>


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Sale</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Sale</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Revenue</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Revenue</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sale & Revenue End -->

<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Salse</h6>
            <a href="">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        
                        <th scope="col">Date</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(Order order in Model)
                    {
                        double? totalAmount = 0;
                        @foreach(OrderItem orderItem in order.OrderItems)
                        {
                            totalAmount += orderItem.Count * orderItem.Price;

                        }
                        <tr>
                            
                            <td>@order.CreatedAt.ToString().Split(' ')[0]</td>
                            <td>@order.Name @order.Surname</td>
                            <td>$@totalAmount</td>
                            <td>@order.Status</td>
                            <td><a asp-action="detail" asp-controller="order" asp-route-orderid="@order.ID" class="btn btn-sm btn-primary">Detail</a></td>
                        </tr>
                    }
                    
                    
                </tbody>
            </table>
        </div>
        <div class="pagination1">
            @if (ViewBag.pageIndex > 1)
            {
                <a class="pageIndexSelector1" asp-action="index" asp-controller="dashboard" asp-area="manage" asp-route-pageIndex="@(ViewBag.pageindex-1)">Previous</a>

            }

            @for (var i = 1; i <= ViewBag.pagecount; i++)
            {
                if (i >= ViewBag.pageindex - 2 && i <= ViewBag.pageindex + 2)
                {
                    <a class="pageIndexSelector1 @(i==ViewBag.pageindex ? "active-for-pagination" : " ")" asp-action="index" asp-controller="product" asp-area="manage" asp-route-pageIndex="@i">@i</a>

                }
            }
            @if (ViewBag.pageindex < ViewBag.pagecount)
            {
                <a class="pageIndexSelector1" asp-action="index" asp-controller="product" asp-area="manage" asp-route-pageIndex="@(ViewBag.pageindex+1)">Next</a>

            }

        </div>
    </div>
</div>
<!-- Recent Sales End -->


