@model ProductType

<div class="container">
    <div style="padding:40px;">
        <table class="table">
            <thead>
                <tr>
                    
                    <th scope="col">Product Type Name</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Updated By</th>
                    <th scope="col">Updated At</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                    <td>@Model.Name</td>
                    <td>@Model.CreatedBy</td>
                    <td>@Model.CreatedAt</td>
                    <td>@Model.UpdatedBy</td>
                    <td>@Model.UpdatedAt</td>
                    <td><a asp-area="manage" asp-controller="ProductType" asp-action="Delete" asp-route-productTypeId="@Model.ID" class="btn btn-danger">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>